
/* ----------social media list ----------- */
#socials li {
    list-style-type: none;
}

#socials a {
    padding: 0.8rem 0;
}

#socials span {
    padding: 0 0.8rem;
}

#socials ul {
    display: flex;
    padding-left: 0;
}


/*  ------------ contact form -------- */

/* -----general layout ------ */
#contact-form {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 5px;
}


#contact-form div {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
}

#contact-form label[for="email"]{
    margin-left: 3rem;
}



#contact-form * { 
    margin: 0.5rem;
}

#contact-form input, #contact-form select, #contact-form textarea {
    /* -webkit-appearance: none; */
    /* appearance: none; */
    font-family: "JetBrains Mono", monospace;
    padding: 0.3rem;
    border-radius: 5px;
}

#contact-form input:focus-visible, #contact-form textarea:focus-visible, #contact-form select:focus-visible  {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: 0 3px 10px rgb(21, 168, 173, 0.5);
    border: none;
    border: 5px #15a8ad;
    padding: 0.5rem;
}


#contact-form input[type="submit"] {
    background-color: rgb(21, 168, 173, 0.8);
    color: white;
    font-family: inherit;
    min-width: 10rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    border: none;
    padding: 0.8rem 0.5rem;
    margin: auto;
}

#contact-form input[type="submit"]:hover {
    background-color: #15a8ad;
}

/* ----------- responsive ------ */
@media (max-width: 819px) {
    
    #socials ul {
        flex-direction: column;
    }
    
    #socials li {
        margin: 0.5rem;
    }
    
    #socials span {
        display: none;
    }
    
}

@media (max-width: 801px) {
    #contact-form div {
        display:flex;
        margin: auto 0;
        flex-direction: column;
    }
    
    #contact-form label[for="email"]{
        margin-left: 0;
    }
}



/* -----form submission UI ------ */

#contact-form input[type="submit"].fail {
    background-color: rgba(212, 128, 170, 1);
}

#form.sent #contact-form{
    display: none;
}

#form span {
    display: none;
}

#form.sent span {  
    display: block;
    margin: 3rem;
    text-align: center;
    font-size: 1.2rem;
}
