<p>Hello - I'm Kerry and I love to craft and make things.</p>
<p>At the moment I'm completely obsessed with ceramics. I'm also still fairly into <a href="https://www.instagram.com/verypuzzles" target="_blank">puzzles</a> and <a href="https://www.instagram.com/vitreousfabric" target="_blank">cross stitch</a>.</p>

<!-- <p>Keep up with me on <a class="icon" target="_blank" rel="noopener" href="https://www.instagram.com/verypuzzles/" aria-label="instagram">
        <i class="fab fa-instagram" aria-hidden="true"></i> verypuzzles</a>, where I post reviews, hauls, and puzzle opinions.</p> -->


<!-- <p>See cross stitch progress at 
        <a class="icon" target="_blank" rel="noopener" href="https://www.instagram.com/vitreousfabric/" aria-label="instagram">
                <i class="fab fa-instagram" aria-hidden="true"></i> 
                vitreousfabric
        </a> or see my finished projects in the <a href="/gallery">gallery</a>.
</p>
<p>You can see my webdev projects on my 
        <a class="icon" target="_blank" rel="noopener" href="https://kerrysmart.ca/" aria-label="professional">
                <i class="fas fa-external-link-alt" aria-hidden="true"></i> 
                professional website
        </a> 
        or 
        <a class="icon" target="_blank" rel="noopener" href="https://github.com/zilliah" aria-label="github">
                <i class="fab fa-github" aria-hidden="true"></i> 
                github.
        </a> -->
</p>
<!-- 
<p>
        Typing 3 to 6 Rs in "kerrrry.ca" will bring you here!
</p> -->
