<p>Hello - I'm Kerry and I love to craft and make things.</p>
<p>I'm currently focusing on cross stitch and web development.</p>
<p>I post daily cross stitch updates at 
        <a class="icon" target="_blank" rel="noopener" href="https://www.instagram.com/vitreousfabric/" aria-label="instagram">
                <i class="fab fa-instagram" aria-hidden="true"></i> 
                vitreousfabric.
        </a>
</p>
<p>You can see my webdev projects on my 
        <a class="icon" target="_blank" rel="noopener" href="https://kerrysmart.ca/" aria-label="professional">
                <i class="fas fa-external-link-alt" aria-hidden="true"></i> 
                professional website
        </a> 
        or 
        <a class="icon" target="_blank" rel="noopener" href="https://github.com/zilliah" aria-label="github">
                <i class="fab fa-github" aria-hidden="true"></i> 
                github.
        </a>
</p>



