<p>Hello - I'm Kerry and I love to make crafts and art.</p>

<p>At the moment I'm making miniature ceramics in a microwave kiln - you can see these and my other art on <a href="https://www.instagram.com/kerrysm.art/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i>instagram</a>.</p>

<p>I teach art and craft workshops at <a href="https://www.associationculturelleluskville.ca/en" target="_blank">Association Culturelle de Luskville</a>.</p>

<p><a href="https://kerrysmart.ca/" target="_blank">I also make websites</a>.</p>

<p>3 - 6 Rs in the URL will bring you here :)</p>
