    <form id="contact-form">
        <label for="name">Name:</label>
        <input type="text" name="from_name" id="name">

        <label for="email">Email (required):</label>
        <input type="email" name="user_email" id="email" required="required" aria-required="true">
        
        <label for="reason">Reason for contacting:</label>
        <select name="reason" id="reason">
            <option value="empty">---Please choose an option--</option>
            <option value="say-hi">Just saying hi</option>
            <option value="hire">I'm interested in hiring you</option>
            <option value="buy">I'd like to buy something you made</option>
            <option value="teach">I'd like you to teach me something</option>
            <option value="cool">I want to show you something cool</option>
            <option value="other">Other</option>
        </select>

        <label for="message" aria-required="true">Message (required):</label>
        <textarea name="message" id="message" aria-required="true" required="required"></textarea>

        <input type="submit" value="Send">
    </form>



<!-- maybe a separate file for this unless that makes it too complicated, idk. 
        leave here for testing for now i guess?-->
<script type="text/javascript">
    window.onload = function() {
        document.getElementById('contact-form').addEventListener('submit', function(event) {
            event.preventDefault();
            emailjs.sendForm('service_zb', 'contact_kerryr', this)
                .then(function() {
                    console.log('SUCCESS!');
                }, function(error) {
                    console.log('FAILED: ', error);
                });
        });
    }
</script>